[submodule ".vim/pack/romes/start/nerdtree"]
	path = .vim/pack/romes/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/romes/start/vim-polyglot"]
	path = .vim/pack/romes/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/romes/start/lightline.vim"]
	path = .vim/pack/romes/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/romes/start/vim-snipmate"]
	path = .vim/pack/romes/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/pack/romes/start/vim-addon-mw-utils"]
	path = .vim/pack/romes/start/vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils
[submodule ".vim/pack/romes/start/tlib_vim"]
	path = .vim/pack/romes/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule ".vim/pack/romes/start/vim-snippets"]
	path = .vim/pack/romes/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/pack/romes/start/auto-pairs"]
	path = .vim/pack/romes/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/pack/romes/start/java-syntax.vim"]
	path = .vim/pack/romes/start/java-syntax.vim
	url = https://github.com/uiiaoo/java-syntax.vim
