[user]
	name = Rodrigo Mesquita
	email = rodrigo.m.mesquita@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIKdREVP76ISSwCnKzqMCeaMwgETLtnKqWPF7ORZSReZ

[push]
	default = current

[pull]
	default = origin
	rebase = true

[rebase]
    autosquash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[log]
	graph = true

[alias]
    # Lookup for commit to fixup
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

    submodules = submodule update --recursive --remote --merge

    ## Clean graph log
    vlog = log --graph --decorate --format=format:'%C(blue)%H%C(reset) - %C(green)%ar%C(reset) %C(auto)%d%C(reset)%n%n        %C(white)%s%C(reset)%n        %C(dim white)~ %an <%ae>%C(reset)%n'

[core]
	excludesfile = /Users/romes/.gitignore_global
    pager = delta

[merge]
	conflictstyle = zdiff3

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com/

[delta]
    navigate = true
    side-by-side = false
    light = true # set to true if you're in a terminal w/ a light background color

[interactive]
    diffFilter = delta --color-only

[diff]
    colorMoved = default
    ; external = difft

[blame]
	; ignoreRevsFile = .git-blame-ignore-revs
    ; ignoreRevsFile = .git-ignore-revs

[rerere]
    ; Rerere!
	enabled = true

[branch]
    ; Sort git branch listing by recent commits
	sort = -committerdate

[gpg]
	format = ssh

[commit]
	gpgsign = true

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[maintenance]
	repo = /Users/romes/hegg
	repo = /Users/romes/ghc-dev/cabal
	repo = /Users/romes/ghc-dev/ghc

